@model SlidingNinthLantern.Models.LanternModel
@using SlidingNinthLantern.Resources;
<template>
    <div id="lantern">
        <h1>@Model.Title</h1>
        <img src="http://upload.wikimedia.org/wikipedia/commons/c/c8/Green_lantern.png" alt="" />
        <h2>@Resources.SubTitle</h2>
    </div>
</template>
